.flex() {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1149px) {
  .header {
    .burger {
      display: block;
      z-index: 1000;
    }

    .header-navigation {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.79);
      z-index: 100;

      .header-navigation_close {
        display: block;
      }

      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 100%;
      }
    }
  }

  .info {
    flex-wrap: wrap;
  }

  .advantages {
    flex-wrap: wrap;
    justify-content: center;

    .cards {
      max-width: 460px;
    }
  }


  .masters {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-cards {
      justify-content: center;

      .menu-card {
        &:last-child {
          display: none;
        }
      }
    }
  }

  .stocks {
    align-items: center;
    text-align: center;

    .stocks-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .interior {
    text-align: center;

    .interior-photos {
      justify-content: center;
    }
  }

}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0 0 20px 0;

    .work-time {
      display: none;
    }

    .phone {
      display: none;
    }
  }

  .info {
    gap: 30px;
    justify-content: center;
    text-align: center;

    .info-btn {
      margin: auto;
    }

    .hooker-1 {
      display: none;
    }

    .hooker-2 {
      display: flex;
      justify-content: center;

      .discount {
        left: 25px;
      }
    }
  }

  .advantages {
    margin-bottom: 30px;
  }

  .masters {
    margin-bottom: 30px;

  }

  .menu {
    margin-bottom: 30px;

    .menu-cards {
      .menu-card {
        text-align: center;
        padding: 10px;
        max-width: 510px;

        p {
          margin-bottom: 0;
        }
      }
    }


  }

  .stocks {
    margin-bottom: 30px;
  }

  .interior {
    margin-bottom: 50px;
  }

  .booking {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;


    .booking-block {
      width: 420px;
    }
  }

  .location {
    text-align: center;
    margin: 0 auto 50px;

    .location-content {
      flex-wrap: wrap;
      justify-content: center;

      .map {
        order: 2;
      }

      .location-info {
        order: 1;
      }

      .location-work-time {
        align-items: center;
      }

      .location-social {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .info {
    .info-description {
      gap: 20px;
    }

    .hooker-2 {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 20px;
      width: 273px;
    }

    .hooker {
      .discount {
        width: 105px;
        height: 105px;
        top: 150px;
      }
    }
  }

  .advantages {
    .cards {
      text-align: center;

      .card-1 {
        .flex();

        img {
          order: 2;
        }

      }

      .card-2 {

        .card-3_1 {
          display: none;
        }

        .card-3_2 {
          display: block;
        }
      }

      .card-3 {
        .flex();

        p {
          width: auto;
        }

        width: 100%;
      }

      .card-4 {
        display: none;
      }

      img {
        max-height: 200px;
        max-width: 400px;
      }
    }
  }

  .menu {
    .menu-card {
      flex-direction: column;


      .menu-description > * {
        margin: 0;
      }
    }
  }

  .interior {
    margin: 0;

    .interior-photos {
      max-width: 368px;
      margin: auto;

      img {
        width: 100%;
        height: 178px;
      }
    }
  }

  .booking {
    background-image: none;
    padding: 0;
  }

  .location {
    iframe {
      width: 100%;
    }
  }

  .footer {
    .footer-content {
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      flex-direction: column;
      align-items: center;

      .footer-right_group {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .footer-btn {
          //padding: 17px;
        }
      }
    }

    .rights {
      display: none;
    }
  }
}

@media screen and (max-width: 424px) {

  .header {
    padding-top: 20px;
  }

  .info {
    margin-bottom: 90px;
  }

  .advantages {
    .cards {
      .card-1 {
        gap: 30px;

        img {
          height: 113px;
          object-fit: cover;
        }

        h2 {
          font-size: 16px;
        }
      }

      .card-2 {
        gap: 30px;

        img {
          height: 113px;
          object-fit: cover;
        }

        h2 {
          font-size: 16px;
        }
      }

      .card-3 {
        gap: 30px;

        img {
          height: 113px;
          object-fit: cover;
        }

        h2 {
          font-size: 16px;
        }
      }

      .card-4 {
        gap: 30px;

        img {
          height: 113px;
          object-fit: cover;
        }

        h2 {
          font-size: 16px;
        }
      }
    }
  }

  .info {

    .hooker {
      .discount {
        left: 0;
      }
    }

    .hooker-2 {
      width: 290px;
    }

    .info-description {
      h1 {
        font-size: 24px;
      }
    }
  }

  .masters {
    h1 {
      font-size: 20px;
    }

    .slider {
      .slide {
        width: 290px;

        img {
          width: 290px;
          height: 350px;
          object-fit: cover;
        }

        .slide-description {
          width: 290px;
        }
      }
    }
  }

  .menu {
    .menu-title {
      font-size: 20px;
    }
    .menu-description {
      gap: 20px;
    }
    .menu-links {
      ul {
        //overflow: scroll;
        gap: 20px;
        //display: none;
        //width: 400px;
      }
    }
  }

  .stocks {
    h2 {
      font-size: 20px;
    }
    span {
      width: 290px;
    }

    .stocks-cards {
      .stocks-card {
        width: 290px;
      }
    }
  }

  .interior {
    h2 {
      font-size: 20px;
    }
    .interior-photos {
      max-width: 290px;
    }
  }

  .booking {
    h2 {
      font-size: 20px;
    }
    .booking-block {
      padding: 30px 0;

      .order {
        .booking-input {
          width: 290px;
        }

        .booking-btn {
          width: 290px;
        }

        .booking-info {
          width: 290px;
        }
      }
    }
  }

.location {
  .location-title {
    font-size: 20px;
  }
}
}


.header-navigation.open {
  display: block;
}
