@media screen and (max-width: 1149px) {
  .header {
    .burger {
      display: block;
    }

    .header-navigation {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.79);
      z-index: 100;

      .header-navigation_close {
        display: block;
      }

      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 100%;
      }
    }
  }
  .advantages {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header-navigation.open {
  display: block;
}
